:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --hero-footer-color: #2f303a;
  --btn-color: #2196f3;
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--primery-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* ----------------HEADER------------------ */
.page-header {
  background-color: #ffffff;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-dark {
  color: #212121;
}

.logo-white {
  background-color: tomato;
  color: white;
}

.page-header-link {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.auth-nav-mail,
.auth-nav-tel {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.studio-color {
  color: var(--btn-color);
}

.link-color {
  color: var(--btn-color);
}

.heading {
  background-color: #2f303a;
}

/* ---------------ПСЕВДОКЛАССЫ------------ */

.page-header-link:hover,
.page-header-link:focus {
  color: #2196f3;
}

.auth-nav-mail:hover,
.auth-nav-mail:focus,
.auth-nav-tel:hover,
.auth-nav-tel:focus {
  color: #2196f3;
}
